{% sw_extends '@WahlBaseTheme/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_buttons %}
    <div class="product-action-buttons d-flex align-items-center gap-2">
        {% if config('core.cart.wishlistEnabled') %}
            {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                appearance: 'circle',
                productId: product.id
            } %}
        {% endif %}

        {{ parent() }}
    </div>
{% endblock %}

{% block component_product_box_action_buy_button %}
    {% if (product.variation|length > 0 or product.childCount > 0) or shouldAccept %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
            class="btn btn-buy"
            title="{{ "listing.boxProductDetails"|trans|striptags }}">
            {% sw_icon 'arrow-large-right' style { 'pack':'solid' ,'size': 'sm' } %}
        </a>
    {% else %}
        <button class="btn btn-buy" title="{{ "listing.boxAddProduct"|trans|striptags }}">
            <svg role="img" aria-hidden="true" class="icon icon-shopping-cart">
                <use href="#shopping-cart"></use>
            </svg>
        </button>
    {% endif %}
{% endblock %}

{% block component_product_box_action_detail %}
    {% if product.childCount > 0 or product.variation|length > 0 %}
        {# Variant-Parent oder Variante: zur Detailseite #}
        <a href="{{ seoUrl('frontend.detail.page', {productId: product.id}) }}"
           class="btn btn-buy"
           title="{{ 'listing.boxProductDetails'|trans|striptags }}">
            {% sw_icon 'arrow-large-right' style { 'pack': 'solid', 'size': 'sm' } %}
        </a>
    {% else %}
        {# Einfacher Artikel (auch mit Staffelpreisen): direkt in den Warenkorb #}
        <form action="{{ path('frontend.checkout.line-item.add') }}" method="post" data-add-to-cart="true">
            <input type="hidden" name="redirectTo" value="frontend.detail.page">
            <input type="hidden" name="redirectParameters" data-redirect-parameters="true"
                   value="{{ {productId: product.id}|json_encode }}">
            <input type="hidden" name="lineItems[{{ product.id }}][id]" value="{{ product.id }}">
            <input type="hidden" name="lineItems[{{ product.id }}][referencedId]" value="{{ product.id }}">
            <input type="hidden" name="lineItems[{{ product.id }}][type]" value="product">
            <input type="hidden" name="lineItems[{{ product.id }}][stackable]" value="1">
            <input type="hidden" name="lineItems[{{ product.id }}][removable]" value="1">
            <input type="hidden" name="lineItems[{{ product.id }}][quantity]" value="{{ product.minPurchase }}">
            <button class="btn btn-buy" title="{{ 'listing.boxAddProduct'|trans|striptags }}">
                <svg role="img" aria-hidden="true" class="icon icon-shopping-cart">
                    <use href="#shopping-cart"></use>
                </svg>
            </button>
        </form>
    {% endif %}
{% endblock %}