{% sw_extends '@WahlBaseTheme/storefront/component/product/card/box-standard.html.twig' %}

{# Wishlist aus der Image-Section entfernen (weil wir sie in die Actions integrieren) #}
{% block component_product_box_wishlist_action %}{% endblock %}

{% block component_product_box_info %}
    <div class="product-info">

        {{ block('component_product_box_name') }}
        {{ block('component_product_box_description') }}

        {% block component_product_box_price_action_row %}
            <div class="product-price-action-row d-flex align-items-center justify-content-between gap-2">
                <div class="product-price-col">
                    {{ block('component_product_box_rating') }}
                    {{ block('component_product_box_price') }}
                </div>

                <div class="product-action-col">
                    {{ block('component_product_box_action') }}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
